<div class="container mx-auto mt-4">
    <h2 class="text-2xl font-bold mb-4">Create Task</h2>
    <form [formGroup]="taskForm" (ngSubmit)="createTask()">
        <div class="mb-4">
            <label class="block text-gray-700">Title</label>
            <input type="text" formControlName="title" name="title" required placeholder="Enter title"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            @if (taskForm.get('title')?.invalid && (taskForm.get('title')?.touched || taskForm.get('title')?.dirty)) {
            @if (
            taskForm.get('title')?.errors?.['required']) {
            <p class="text-red-500 text-xs italic">Title is required</p>
            }
            @if (
            taskForm.get('title')?.errors?.['minlength']){
            <p class="text-red-500 text-xs italic">Title must be at least 3 characters long</p>
            }
            }
        </div>
        <div class="mb-4">
            <label class="block text-gray-700">Description</label>
            <textarea formControlName="description" name="description" required placeholder="Enter description"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
            @if (taskForm.get('description')?.invalid && (taskForm.get('description')?.touched ||
            taskForm.get('description')?.dirty)) {
            @if (
            taskForm.get('description')?.errors?.['required']) {
            <p class="text-red-500 text-xs italic">Description is required</p>
            }
            @if (
            taskForm.get('description')?.errors?.['minlength']){
            <p class="text-red-500 text-xs italic">Description must be at least 3 characters long</p>
            }
            }
        </div>
        <div class="mb-4">
            <label class="block text-gray-700">Deadline</label>
            <input type="date" formControlName="deadline" name="deadline" [min]="minDate"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            @if (taskForm.get('deadline')?.invalid && (taskForm.get('deadline')?.touched ||
            taskForm.get('deadline')?.dirty)) {
            @if (
            taskForm.get('deadline')?.errors?.['required']) {
            <p class="text-red-500 text-xs italic">Deadline is required</p>
            }
            }
        </div>
        <div class="mb-4">
            <label class="block text-gray-700">Priority</label>
            <select formControlName="priority" name="priority"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>
            @if (taskForm.get('priority')?.invalid && (taskForm.get('priority')?.touched ||
            taskForm.get('priority')?.dirty))
            {
            @if (
            taskForm.get('priority')?.errors?.['required']) {
            <p class="text-red-500 text-xs italic">Priority is required</p>
            }
            }
        </div>
        <div class="mb-4">
            <label class="block text-gray-700">Users</label>
            <select formControlName="userId" name="user"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                @for (user of users; track $index) {
                <option [value]="user._id">{{ user.email }}</option>
                }
            </select>
            @if (taskForm.get('userId')?.invalid && (taskForm.get('userId')?.touched || taskForm.get('userId')?.dirty))
            {
            @if (
            taskForm.get('userId')?.errors?.['required']) {
            <p class="text-red-500 text-xs italic">User is required</p>
            }
            }
        </div>
        <button type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            [disabled]="taskForm.invalid" [ngClass]="{ 'opacity-50 cursor-not-allowed': taskForm.invalid }">Create
            Task</button>
    </form>
</div>